<section id="start" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="section-heading">Start actively collecting cloud events today!</h2>
              <p>Getting started with Reflex is easy, simply follow our documentation.</p>
                <a href="https://github.com/cloudmitigator/reflex" class="btn btn-outline btn-xl page-scroll">Reflex Docs</a>
                <div class="badges">
                </div>
            </div>
        </div>
    </div>
</section>
