<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header-content">
                    <div class="header-content-inner">
                      <h1><b>Reflex</b> bootstraps your cloud environment with <br><b>event-driven</b> detective measures for better <br><b>security</b> and <b>alerting</b>.</h1>
                        <a href="#start" class="btn btn-outline btn-xl page-scroll">Get Started!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
