<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Who's Using Reflex</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feature-item">
                                <a href="https://www.emborrow.com"><img src="/img/emBorrow_logo.png" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
