
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Open, Extensible, Logical.</h2>
                        <p class="text-muted">Check out why reflex is the right way to secure the cloud.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-pencil text-primary"></i>
                                    <h3>Configurable</h3>
                                    <p class="text-muted">Pick and choose which security measures are detected in your accounts.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-layers text-primary"></i>
                                    <h3>Comprehensive</h3>
                                    <p class="text-muted">Out of the box, covers hundreds of real security violations to look out for.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-chemistry text-primary"></i>
                                    <h3>Extensible</h3>
                                    <p class="text-muted">Create customized detective measures using a best practices framework.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Open Source</h3>
                                    <p class="text-muted">Open for contribution and collaboration to keep consistent security measures.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
